<!DOCTYPE html>
<html>
<head>
	<title>Static Middleware Demo</title>
</head>
<body>
<img src="GeeksforGeeks.svg.png" width="600" height="600" />
<h1>Hello Everyone I am 
	pavan kumar Singh
</h1>
</body>
</html>
